@import "~styles.scss";

#menu {
  nav {
    background-color: $purple-dk;

    img {
      width: 90%;
    }

    li {
      a {
        color: $wt;
        @include default-transition;
        &:hover {
          color: $lt;
          @include default-transition;
        }
      }
    }
  }
}
