<article id="info-user">
  <div class="col-md-10 offset-md-1">
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.8)"
      size="medium"
      color="#ffcdf7"
      type="pacman"
      [fullScreen]="true"
    >
      <br />
      <strong style="color: white">Processando...</strong>
    </ngx-spinner>

    <div class="container bootstrap snippets bootdey">
      <h4 class="mt-4">
        Usuário: <strong>{{ user.name }}</strong>
      </h4>
      <h5 class="mb-4 mt-3">{{ optionalTitle }}</h5>

      <div class="panel-body inf-content">
        <div class="row text-center">
          <div class="col-md-4">
            <img
              [alt]="user.name"
              [src]="img + 'generic-user.png'"
              class="img-circle img-thumbnail isTooltip"
            />
            <div class="my-3">
              <a
                class="btn btn-purple-lt-reverse"
                href="javascript:void(0)"
                (click)="optionEvent(user._id)"
                >{{ optionText }}</a
              >&nbsp;
              <a
                class="btn btn-purple-lt-reverse"
                [routerLink]="['/users/list']"
                >Voltar</a
              >
            </div>
          </div>
          <div class="col-md-6">
            <strong>Detalhes</strong><br />
            <div class="table-responsive">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>
                      <strong>
                        <span
                          class="glyphicon glyphicon-asterisk text-primary"
                        ></span>
                        CPF
                      </strong>
                    </td>
                    <td class="text-primary">{{ user.document | cpf }}</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>
                        <span
                          class="glyphicon glyphicon-user text-primary"
                        ></span>
                        Nome
                      </strong>
                    </td>
                    <td class="text-primary">{{ user.name }}</td>
                  </tr>

                  <tr>
                    <td>
                      <strong>
                        <span
                          class="glyphicon glyphicon-bookmark text-primary"
                        ></span>
                        E-mail
                      </strong>
                    </td>
                    <td class="text-primary">
                      <a href="mailto:{{ user.email }}" target="_blank">{{
                        user.email
                      }}</a>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <strong>
                        <span
                          class="glyphicon glyphicon-eye-open text-primary"
                        ></span>
                        Nascimento
                      </strong>
                    </td>
                    <td class="text-primary">
                      {{ user.birthDate | date: "dd/MM/yyyy" }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>
                        <span
                          class="glyphicon glyphicon-envelope text-primary"
                        ></span>
                        Status
                      </strong>
                    </td>
                    <td class="text-primary">
                      {{ user.active === true ? "Ativo" : "Inativo" }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mt-4">
          <div>
            <hr />
            <h4>Endereço</h4>
          </div>
          <section class="table-responsive address-table">
            <table role="table" class="table table-hover table-purple">
              <thead role="rowgroup">
                <tr>
                  <th role="columnheader">Logradouro</th>
                  <th role="columnheader">Numero</th>
                  <th role="columnheader">Complemento</th>
                  <th role="columnheader">Bairro</th>
                  <th role="columnheader">Cep</th>
                  <th role="columnheader">Cidade</th>
                  <th role="columnheader">Estado</th>
                </tr>
              </thead>

              <tbody role="rowgroup">
                <tr role="row">
                  <td role="cell">
                    {{ address.street }}
                  </td>
                  <td role="cell">
                    {{ address.number }}
                  </td>
                  <td role="cell">
                    {{ address.additionalDetails }}
                  </td>
                  <td role="cell">
                    {{ address.neighborhood }}
                  </td>
                  <td role="cell">
                    {{ address.zipCode | cep }}
                  </td>
                  <td role="cell">
                    {{ address.city }}
                  </td>
                  <td role="cell">
                    {{ address.state }}
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <iframe frameborder="0" allowfullscreen [src]="addressMap"></iframe>
      </div>
    </div>
  </div>
</article>
