<article id="home">
  <div class="container main-container">
    <h3 class="text-center my-4">
      Olá, Robson, aqui é o Davi Roberto. <br />
      Seja <strong>muito bem-vindo</strong> 😉
    </h3>
    <br />

    <h5>Informações sobre o projeto desenvolvido:</h5>

    <p>
      Neste projeto eu utilizei o <strong>Angular 10</strong>, junto de algumas
      novidades que foram apresentadas nessa última versão do framework.
    </p>
    <br />

    <p>
      <strong>Observação:</strong> O teste de ponta a ponta (e2e) para cadastro
      de usuário está configurado para o browser Google Chrome em ambiente
      Windows. Caso não funcione em seu ambiente de desenvolvimento, Robson,
      estou disponível para te ajudar a rodar esse teste em seu ambiente para
      vê-lo sendo executado.
    </p>
    <br />

    <p>Algumas coisas que geralmente utilizo, mas não usei nesse projeto:</p>
    <ul>
      <li>Gerenciamento de estado;</li>
      <li>Menus e formulários dinâmicos;</li>
      <li>
        Tabela com paginação, trazendo apenas os dados que o usuário solicitar;
      </li>
      <li>Testes unitários voltados para o comportamento da aplicação;</li>
      <li>
        Autenticação usando com gerenciamento de permissão (geralmente com uso
        de guard e claims);
      </li>
      <li>
        Versionamento desde o início do projeto, usando conceitos do gitflow.
      </li>
    </ul>
    <br />

    <p>
      <strong> Observações finais:</strong> Gostaria de informar que não pude
      aplicar meu tempo integral neste projeto, pois no dia 30/09 me desligo da
      empresa que estou atualmente e me comprometi a entregar as demandas que
      estava comigo antes de me desligar. Devido a essa questão, eu pude me
      dedicar a esse teste somente no final de meu expediente, ou seja, bem de
      noite. De qualquer maneira, fiz algo legal e bem profissional, gostaria de
      ter aplicado outros conceitos e tecnologias para mostrar em que sou apto,
      porém mesmo não sendo possível devido ao curto tempo disponível, me
      comprometi com esse teste e tenho certeza de que irá gostar.
      <br />
      Um grande abraço, e aguardo seu feedback.
    </p>
  </div>
</article>
